body {
  text-align: center;
}
#heading {
  background-color: indigo;
  text-align: center;
  color: rgb(255, 102, 0);
  font-family: 'Arial Narrow Bold', sans-serif;
  
}

#heading h1 {
  font-size: 6em;
  
}

#subheading {
  font-size: 1.5em;
  text-transform: uppercase;
}
